In [2]:
import pandas as pd

In [115]:
df = pd.read_csv("C:/Users/DELL/Downloads/CricketTestMatchData.csv",encoding="utf-8")
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0
66,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24

In [7]:
df.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0', '4s', '6s'],
      dtype='object')

In [8]:
df.rename(columns={'NO':'Not Out','HS':'High Score','BF':'Balls Faced','SR':'Strike Rate'})

,Player,Span,Mat,Inns,Not Out,Runs,High Score,Ave,Balls Faced,Strike Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0
66,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24

In [9]:
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1

In [10]:
df.isnull()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
63,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
64,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
65,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
66,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
df.isnull().any()

Player    False
Span      False
Mat       False
Inns      False
NO        False
Runs      False
HS        False
Ave       False
BF         True
SR         True
100       False
50        False
0         False
4s        False
6s        False
dtype: bool

In [15]:
pd.set_option('display.max_rows',None)

In [16]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6
6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125+,4
7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591+,27
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258+,2
9,SPD Smith (AUS),2010-2023,102,181,22,9320,239,58.61,17292,53.89,32,39,9,1026,52
10,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491+,38.07,22,24,4,419+,27
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
13,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51
14,DJ Mitchell (NZ),2019-2023,18,27,4,1316,190,57.21,2395,54.94,5,8,1,130,26
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107+,11
17,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844+,39.34,19,33,5,358+,7
18,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97
19,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,55.00,178+,29.21,3,6,2,37+,2
20,KS Williamson (NZ),2010-2023,94,164,16,8124,251,54.89,15785,51.46,28,33,10,897,21
21,CA Davis (WI),1968-1973,15,29,5,1301,183,54.20,665+,35.48,4,4,1,65+,1
22,VG Kambli (IND),1993-1995,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6
23,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,53.86,13079+,51.53,24,31,12,755,16
24,AD Nourse (SA),1935-1951,34,62,7,2960,231,53.81,108+,63.88,9,14,3,115+,6
25,SR Tendulkar (IND),1989-2013,200,329,33,15921,248*,53.78,29437+,54.04,51,68,14,2058+,69
26,M Labuschagne (AUS),2018-2023,43,76,5,3789,215,53.36,7146,53.02,11,16,4,427,12
27,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88
28,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788+,48
29,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788+,48
30,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21
31,Mohammad Yousuf (PAK),1998-2010,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51
32,Younis Khan (PAK),2000-2017,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70
33,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73
34,J Ryder (AUS),1920-1929,20,32,5,1394,201*,51.62,2035+,44.86,3,9,1,102+,3
35,A Flower (ZIM),1992-2002,63,112,19,4794,232*,51.54,10636,45.07,12,27,5,543,20
36,MEK Hussey (AUS),2005-2013,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39
37,S Chanderpaul (WI),1994-2015,164,280,49,11867,203*,51.37,27395,43.31,30,66,15,1285,36
38,SM Gavaskar (IND),1971-1987,125,214,16,10122,236*,51.12,14184+,43.35,34,45,12,908+,26
39,SR Waugh (AUS),1985-2004,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20
40,Abdullah Shafique (PAK),2021-2023,14,26,2,1220,201,50.83,2764,44.13,4,4,2,119,18
41,ML Hayden (AUS),1994-2009,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82
42,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64
43,AR Border (AUS),1978-1994,156,265,44,11174,205,50.56,27002+,41.09,27,63,11,1161,28
44,JE Root (ENG),2012-2023,135,247,20,11416,254,50.29,20113,56.75,30,60,12,1247,43
45,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613+,69.77,24,45,10,952+,84
46,DP Conway (NZ),2021-2023,16,29,1,1403,200,50.10,2719,51.59,4,8,2,177,6
47,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731+,38.81,17,28,10,342+,3
48,DPMD Jayawardene (SL),1997-2014,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61
49,Inzamam-ul-Haq (ICC/PAK),1992-2007,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48
50,FMM Worrell (WI),1948-1963,51,87,9,3860,261,49.48,488+,40.16,9,22,11,240+,11
51,CP Mead (ENG),1911-1928,17,26,2,1185,182*,49.37,619+,30.04,4,3,3,38+,0
52,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91
53,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24
54,Abid Ali (PAK),2019-2021,16,26,2,1180,215*,49.16,2445,48.26,4,3,2,148,5
55,MJ Clarke (AUS),2004-2015,115,198,22,8643,329*,49.10,15456,55.92,28,27,9,978,39
56,KC Bland (SA),1961-1966,21,39,5,1669,144*,49.08,885+,37.74,3,9,2,123+,20
57,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3,41+,1
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3,51+,0
59,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7
60,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799+,43.74,21,24,7,427+,1
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0
66,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24

In [17]:
df[df["BF"].isna()==1]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258+,2
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107+,11
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3,51+,0

In [18]:
df[df["BF"].isna()]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258+,2
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107+,11
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3,51+,0

In [24]:
df["BF"].fillna(0)

0      9800+
1       1287
2       2667
3      1707+
4       416+
5      6558+
6      1288+
7      4957+
8          0
9      17292
10     7491+
11     4063+
12     4063+
13     22882
14      2395
15     5363+
16         0
17     2844+
18     28903
19      178+
20     15785
21      665+
22      1823
23    13079+
24      108+
25    29437+
26      7146
27     19753
28    15164+
29    15164+
30     31258
31     14372
32     19375
33     22782
34     2035+
35     10636
36     12436
37     27395
38    14184+
39     22461
40      2764
41     14349
42     16077
43    27002+
44     20113
45     9613+
46      2719
47     2731+
48     22959
49     16345
50      488+
51      619+
52     10441
53     15708
54      2445
55     15456
56      885+
57      158+
58         0
59     11641
60     1799+
61     8662+
62     15525
63     3118+
64     3217+
65     2110+
66     15708
Name: BF, dtype: object

In [25]:
df["SR"].fillna(0)

0     58.60
1     91.76
2     55.68
3     54.48
4     56.00
5     34.59
6     45.88
7     42.42
8      0.00
9     53.89
10    38.07
11    53.58
12    53.58
13    54.19
14    54.94
15    46.22
16     0.00
17    39.34
18    45.97
19    29.21
20    51.46
21    35.48
22    59.46
23    51.53
24    63.88
25    54.04
26    53.02
27    60.51
28    45.99
29    45.99
30    42.51
31    52.39
32    52.12
33    58.72
34    44.86
35    45.07
36    50.13
37    43.31
38    43.35
39    48.64
40    44.13
41    60.10
42    54.51
43    41.09
44    56.75
45    69.77
46    51.59
47    38.81
48    51.45
49    54.02
50    40.16
51    30.04
52    82.23
53    55.23
54    48.26
55    55.92
56    37.74
57    29.11
58     0.00
59    46.92
60    43.74
61    49.16
62    59.67
63    44.77
64    60.02
65    25.59
66    55.23
Name: SR, dtype: float64

In [27]:
df[df["Player"] == "ED Weekes (WI)"]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258+,2

In [30]:
df[df.duplicated()]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
29,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788+,48
66,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24

In [31]:
df[df.duplicated()==1]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
29,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788+,48
66,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24

In [33]:
df[df["Player"] == "Javed Miandad (PAK)"]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
28,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788+,48
29,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788+,48

In [39]:
df[df["Player"].isin(["GS Sobers (WI)","Javed Miandad (PAK)","V Kohli (IND)"])]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
28,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788+,48
53,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24

In [41]:
df = df.drop_duplicates()
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6
6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125+,4
7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591+,27
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258+,2
9,SPD Smith (AUS),2010-2023,102,181,22,9320,239,58.61,17292,53.89,32,39,9,1026,52
10,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491+,38.07,22,24,4,419+,27
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
13,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51
14,DJ Mitchell (NZ),2019-2023,18,27,4,1316,190,57.21,2395,54.94,5,8,1,130,26
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107+,11
17,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844+,39.34,19,33,5,358+,7
18,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97
19,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,55.00,178+,29.21,3,6,2,37+,2
20,KS Williamson (NZ),2010-2023,94,164,16,8124,251,54.89,15785,51.46,28,33,10,897,21
21,CA Davis (WI),1968-1973,15,29,5,1301,183,54.20,665+,35.48,4,4,1,65+,1
22,VG Kambli (IND),1993-1995,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6
23,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,53.86,13079+,51.53,24,31,12,755,16
24,AD Nourse (SA),1935-1951,34,62,7,2960,231,53.81,108+,63.88,9,14,3,115+,6
25,SR Tendulkar (IND),1989-2013,200,329,33,15921,248*,53.78,29437+,54.04,51,68,14,2058+,69
26,M Labuschagne (AUS),2018-2023,43,76,5,3789,215,53.36,7146,53.02,11,16,4,427,12
27,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88
28,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788+,48
30,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21
31,Mohammad Yousuf (PAK),1998-2010,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51
32,Younis Khan (PAK),2000-2017,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70
33,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73
34,J Ryder (AUS),1920-1929,20,32,5,1394,201*,51.62,2035+,44.86,3,9,1,102+,3
35,A Flower (ZIM),1992-2002,63,112,19,4794,232*,51.54,10636,45.07,12,27,5,543,20
36,MEK Hussey (AUS),2005-2013,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39
37,S Chanderpaul (WI),1994-2015,164,280,49,11867,203*,51.37,27395,43.31,30,66,15,1285,36
38,SM Gavaskar (IND),1971-1987,125,214,16,10122,236*,51.12,14184+,43.35,34,45,12,908+,26
39,SR Waugh (AUS),1985-2004,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20
40,Abdullah Shafique (PAK),2021-2023,14,26,2,1220,201,50.83,2764,44.13,4,4,2,119,18
41,ML Hayden (AUS),1994-2009,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82
42,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64
43,AR Border (AUS),1978-1994,156,265,44,11174,205,50.56,27002+,41.09,27,63,11,1161,28
44,JE Root (ENG),2012-2023,135,247,20,11416,254,50.29,20113,56.75,30,60,12,1247,43
45,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613+,69.77,24,45,10,952+,84
46,DP Conway (NZ),2021-2023,16,29,1,1403,200,50.10,2719,51.59,4,8,2,177,6
47,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731+,38.81,17,28,10,342+,3
48,DPMD Jayawardene (SL),1997-2014,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61
49,Inzamam-ul-Haq (ICC/PAK),1992-2007,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48
50,FMM Worrell (WI),1948-1963,51,87,9,3860,261,49.48,488+,40.16,9,22,11,240+,11
51,CP Mead (ENG),1911-1928,17,26,2,1185,182*,49.37,619+,30.04,4,3,3,38+,0
52,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91
53,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24
54,Abid Ali (PAK),2019-2021,16,26,2,1180,215*,49.16,2445,48.26,4,3,2,148,5
55,MJ Clarke (AUS),2004-2015,115,198,22,8643,329*,49.10,15456,55.92,28,27,9,978,39
56,KC Bland (SA),1961-1966,21,39,5,1669,144*,49.08,885+,37.74,3,9,2,123+,20
57,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3,41+,1
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3,51+,0
59,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7
60,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799+,43.74,21,24,7,427+,1
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [42]:
df[df["Player"].isin(["GS Sobers (WI)","Javed Miandad (PAK)","V Kohli (IND)"])]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
28,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788+,48
53,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24

In [45]:
"Kanwal_Shehzadi".split("_")

['Kanwal', 'Shehzadi']

In [48]:
df["Span"].str.split("-")

0     [1928, 1948]
1     [2022, 2023]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
5     [1924, 1935]
6     [1931, 1939]
7     [1955, 1968]
8     [1948, 1958]
9     [2010, 2023]
10    [1927, 1947]
11    [1954, 1974]
13    [2000, 2015]
14    [2019, 2023]
15    [1908, 1930]
16    [1948, 1960]
17    [1937, 1955]
18    [1995, 2013]
19    [1921, 1929]
20    [2010, 2023]
21    [1968, 1973]
22    [1993, 1995]
23    [1970, 1984]
24    [1935, 1951]
25    [1989, 2013]
26    [2018, 2023]
27    [1990, 2006]
28    [1976, 1993]
30    [1996, 2012]
31    [1998, 2010]
32    [2000, 2017]
33    [1995, 2012]
34    [1920, 1929]
35    [1992, 2002]
36    [2005, 2013]
37    [1994, 2015]
38    [1971, 1987]
39    [1985, 2004]
40    [2021, 2023]
41    [1994, 2009]
42    [2004, 2018]
43    [1978, 1994]
44    [2012, 2023]
45    [1974, 1991]
46    [2021, 2023]
47    [1937, 1957]
48    [1997, 2014]
49    [1992, 2007]
50    [1948, 1963]
51    [1911, 1928]
52    [2001, 2013]
53    [2011, 2023]
54    [2019, 2021]
55    [2004, 2015]
56    [1961, 1966]
57    [1929, 1949]
58    [1893, 1905]
59    [2001, 2013]
60    [1948, 1963]
61    [1965, 1981]
62    [2002, 2014]
63    [1924, 1934]
64    [1930, 1938]
65    [1928, 1934]
Name: Span, dtype: object

In [106]:
df["Span"]=df["Span"].str.split("-").str[0]
df["Span"]

C:\Users\DELL\AppData\Local\Temp\ipykernel_3164\3491649691.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Span"]=df["Span"].str.split("-").str[0]

0     1928
1     2022
2     2015
3     1963
4     1930
      ...
61    1965
62    2002
63    1924
64    1930
65    1928
Name: Span, Length: 64, dtype: object

In [111]:
df['Span'].str.split("-")[0]

['1928']

In [56]:
df['Span'].str.split("-").str[1]

0     1948
1     2023
2     2016
3     1970
4     1954
5     1935
6     1939
7     1968
8     1958
9     2023
10    1947
11    1974
13    2015
14    2023
15    1930
16    1960
17    1955
18    2013
19    1929
20    2023
21    1973
22    1995
23    1984
24    1951
25    2013
26    2023
27    2006
28    1993
30    2012
31    2010
32    2017
33    2012
34    1929
35    2002
36    2013
37    2015
38    1987
39    2004
40    2023
41    2009
42    2018
43    1994
44    2023
45    1991
46    2023
47    1957
48    2014
49    2007
50    1963
51    1928
52    2013
53    2023
54    2021
55    2015
56    1966
57    1949
58    1905
59    2013
60    1963
61    1981
62    2014
63    1934
64    1938
65    1934
Name: Span, dtype: object

In [112]:
df.drop(["Span"])

KeyError: "['Span'] not found in axis"

In [61]:
df.drop(["Span"],axis=1)

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6
6,E Paynter (ENG),20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125+,4
7,KF Barrington (ENG),82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591+,27
8,ED Weekes (WI),48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258+,2
9,SPD Smith (AUS),102,181,22,9320,239,58.61,17292,53.89,32,39,9,1026,52
10,WR Hammond (ENG),85,140,16,7249,336*,58.45,7491+,38.07,22,24,4,419+,27
11,GS Sobers (WI),93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
13,KC Sangakkara (SL),134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51
14,DJ Mitchell (NZ),18,27,4,1316,190,57.21,2395,54.94,5,8,1,130,26
15,JB Hobbs (ENG),61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
16,CL Walcott (WI),44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107+,11
17,L Hutton (ENG),79,138,15,6971,364,56.67,2844+,39.34,19,33,5,358+,7
18,JH Kallis (ICC/SA),166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97
19,GE Tyldesley (ENG),14,20,2,990,122,55.00,178+,29.21,3,6,2,37+,2
20,KS Williamson (NZ),94,164,16,8124,251,54.89,15785,51.46,28,33,10,897,21
21,CA Davis (WI),15,29,5,1301,183,54.20,665+,35.48,4,4,1,65+,1
22,VG Kambli (IND),17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6
23,GS Chappell (AUS),87,151,19,7110,247*,53.86,13079+,51.53,24,31,12,755,16
24,AD Nourse (SA),34,62,7,2960,231,53.81,108+,63.88,9,14,3,115+,6
25,SR Tendulkar (IND),200,329,33,15921,248*,53.78,29437+,54.04,51,68,14,2058+,69
26,M Labuschagne (AUS),43,76,5,3789,215,53.36,7146,53.02,11,16,4,427,12
27,BC Lara (ICC/WI),131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88
28,Javed Miandad (PAK),124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788+,48
30,R Dravid (ICC/IND),164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21
31,Mohammad Yousuf (PAK),90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51
32,Younis Khan (PAK),118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70
33,RT Ponting (AUS),168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73
34,J Ryder (AUS),20,32,5,1394,201*,51.62,2035+,44.86,3,9,1,102+,3
35,A Flower (ZIM),63,112,19,4794,232*,51.54,10636,45.07,12,27,5,543,20
36,MEK Hussey (AUS),79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39
37,S Chanderpaul (WI),164,280,49,11867,203*,51.37,27395,43.31,30,66,15,1285,36
38,SM Gavaskar (IND),125,214,16,10122,236*,51.12,14184+,43.35,34,45,12,908+,26
39,SR Waugh (AUS),168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20
40,Abdullah Shafique (PAK),14,26,2,1220,201,50.83,2764,44.13,4,4,2,119,18
41,ML Hayden (AUS),103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82
42,AB de Villiers (SA),114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64
43,AR Border (AUS),156,265,44,11174,205,50.56,27002+,41.09,27,63,11,1161,28
44,JE Root (ENG),135,247,20,11416,254,50.29,20113,56.75,30,60,12,1247,43
45,IVA Richards (WI),121,182,12,8540,291,50.23,9613+,69.77,24,45,10,952+,84
46,DP Conway (NZ),16,29,1,1403,200,50.10,2719,51.59,4,8,2,177,6
47,DCS Compton (ENG),78,131,15,5807,278,50.06,2731+,38.81,17,28,10,342+,3
48,DPMD Jayawardene (SL),149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61
49,Inzamam-ul-Haq (ICC/PAK),120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48
50,FMM Worrell (WI),51,87,9,3860,261,49.48,488+,40.16,9,22,11,240+,11
51,CP Mead (ENG),17,26,2,1185,182*,49.37,619+,30.04,4,3,3,38+,0
52,V Sehwag (ICC/IND),104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91
53,V Kohli (IND),111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24
54,Abid Ali (PAK),16,26,2,1180,215*,49.16,2445,48.26,4,3,2,148,5
55,MJ Clarke (AUS),115,198,22,8643,329*,49.10,15456,55.92,28,27,9,978,39
56,KC Bland (SA),21,39,5,1669,144*,49.08,885+,37.74,3,9,2,123+,20
57,B Mitchell (SA),42,80,9,3471,189*,48.88,158+,29.11,8,21,3,41+,1
58,Hon.FS Jackson (ENG),20,33,4,1415,144*,48.79,NaN,NaN,5,6,3,51+,0
59,TT Samaraweera (SL),81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7
60,RN Harvey (AUS),79,137,10,6149,205,48.41,1799+,43.74,21,24,7,427+,1
61,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
62,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
64,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
65,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [65]:
pd.reset_option("display.max_rows",None)

In [141]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,start,end,career_length
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,20
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,1
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,1
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,7
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,12
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,10
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,8
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,6
66,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24,2011,2023,12

In [142]:
df["Player"].str.split("(")

0      [DG Bradman , AUS)]
1        [HC Brook , ENG)]
2        [AC Voges , AUS)]
3       [RG Pollock , SA)]
4       [GA Headley , WI)]
              ...
62    [GC Smith , ICC/SA)]
63    [WH Ponsford , AUS)]
64      [SJ McCabe , AUS)]
65     [DR Jardine , ENG)]
66        [V Kohli , IND)]
Name: Player, Length: 67, dtype: object

In [143]:
df["Country"] = df["Player"].str.split(pat="(").str[1]

In [144]:
df["Country"]

0        AUS)
1        ENG)
2        AUS)
3         SA)
4         WI)
       ...
62    ICC/SA)
63       AUS)
64       AUS)
65       ENG)
66       IND)
Name: Country, Length: 67, dtype: object

In [146]:
df['Country'] = df["Country"].str.split(pat=")").str[0]
df['Country']

0        AUS
1        ENG
2        AUS
3         SA
4         WI
       ...
62    ICC/SA
63       AUS
64       AUS
65       ENG
66       IND
Name: Country, Length: 67, dtype: object

In [147]:
df.dtypes

Player            object
Span              object
Mat                int64
Inns               int64
NO                 int64
Runs               int64
HS                object
Ave              float64
BF                object
SR               float64
100                int64
50                 int64
0                  int64
4s                object
6s                object
start              int32
end                int32
career_length      int32
Country           object
dtype: object

In [84]:
text = "***Important Text***"
text.strip("*")

'Important Text'

In [148]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,start,end,career_length,Country
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,20,AUS
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,1,ENG
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,1,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,7,SA
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,24,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,12,ICC/SA
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,10,AUS
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,8,AUS
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,6,ENG
66,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24,2011,2023,12,IND

In [87]:
df["HS"].str.strip("*")

0     334
1     186
2     269
3     274
4     270
     ...
61    250
62    277
63    266
64    232
65    127
Name: HS, Length: 64, dtype: object

In [90]:
df.dtypes

Player      object
Span        object
Mat          int64
Inns         int64
NO           int64
Runs         int64
HS          object
Ave        float64
BF          object
SR         float64
100          int64
50           int64
0            int64
4s          object
6s          object
Country     object
dtype: object

In [97]:
df["HS"] = df["HS"].str.strip('*')
df

C:\Users\DELL\AppData\Local\Temp\ipykernel_3164\3399600901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["HS"] = df["HS"].str.strip('*')

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Country
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,AUS)
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,ENG)
2,AC Voges (AUS),2015-2016,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,AUS)
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,SA)
4,GA Headley (WI),1930-1954,22,40,4,2190,270,60.83,416+,56.00,10,5,2,104+,1,WI)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,AUS)
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,ICC/SA)
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,AUS)
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,AUS)
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,ENG)

In [155]:
df["HS"]=df["HS"].str.strip("*")

In [156]:
df['HS']=df["HS"].astype('int')

In [102]:
df.dtypes

Player      object
Span        object
Mat          int64
Inns         int64
NO           int64
Runs         int64
HS           int32
Ave        float64
BF          object
SR         float64
100          int64
50           int64
0            int64
4s          object
6s          object
Country     object
dtype: object

In [116]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0
66,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24

In [123]:
df["start"]=df["Span"].str.split("-").str[0]
df["end"]=df["Span"].str.split("-").str[1]
df["start"]
df["end"]

0     1948
1     2023
2     2016
3     1970
4     1954
      ...
62    2014
63    1934
64    1938
65    1934
66    2023
Name: end, Length: 67, dtype: object

In [124]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,start,end
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934
66,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24,2011,2023

In [127]:
df=df.astype({'start':'int','end':'int'})

In [128]:
df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO          int64
Runs        int64
HS         object
Ave       float64
BF         object
SR        float64
100         int64
50          int64
0           int64
4s         object
6s         object
start       int32
end         int32
dtype: object

In [131]:
df["career_length"]=df["end"]-df["start"]
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,start,end,career_length
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,20
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,1
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,1
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,7
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,12
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,10
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,8
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,6
66,V Kohli (IND),2011-2023,111,187,11,8676,254*,49.29,15708,55.23,29,29,14,966,24,2011,2023,12

In [133]:
round(df["career_length"].mean(),2)

12.91

In [136]:
round(df[df["start"]>2010]["SR"].mean(),2)

56.66

In [138]:
df[df["start"]<1960]['Player'].count()

24

In [158]:
df.groupby("Country")["HS"].mean().to_frame("Highest Inning Score")

         Highest Inning Score
Country
AUS                251.500000
ENG                222.846154
ICC/IND            294.500000
ICC/PAK            329.000000
ICC/SA             250.500000
ICC/WI             400.000000
IND                243.800000
NZ                 213.666667
PAK                252.000000
SA                 223.200000
SL                 308.000000
WI                 262.777778
ZIM                232.000000

In [161]:
round(df.groupby("Country")[["100","50","0"]].mean(),2)

           100     50      0
Country
AUS      20.62  28.00   8.50
ENG      12.31  20.77   4.31
ICC/IND  29.50  47.50  12.00
ICC/PAK  25.00  46.00  15.00
ICC/SA   36.00  48.00  13.50
ICC/WI   34.00  48.00  17.00
IND      29.40  34.80  11.40
NZ       12.33  16.33   4.33
PAK      18.67  26.50   7.67
SA        9.80  20.20   3.40
SL       28.67  44.00  12.33
WI       17.67  26.11   7.78
ZIM      12.00  27.00   5.00