In [4]:
import pandas as pd
df = pd.read_csv('amazon.csv',encoding="latin-1")
df

      year      state     month  number        date
0     1998       Acre   Janeiro     0.0  1998-01-01
1     1999       Acre   Janeiro     0.0  1999-01-01
2     2000       Acre   Janeiro     0.0  2000-01-01
3     2001       Acre   Janeiro     0.0  2001-01-01
4     2002       Acre   Janeiro     0.0  2002-01-01
...    ...        ...       ...     ...         ...
6449  2012  Tocantins  Dezembro   128.0  2012-01-01
6450  2013  Tocantins  Dezembro    85.0  2013-01-01
6451  2014  Tocantins  Dezembro   223.0  2014-01-01
6452  2015  Tocantins  Dezembro   373.0  2015-01-01
6453  2016  Tocantins  Dezembro   119.0  2016-01-01

[6454 rows x 5 columns]

In [12]:
max_fire_index = df["number"].idxmax()
year = df.loc[max_fire_index, 'year'] 
year

2008

In [13]:
df_sorted = df.sort_values(by='year', ascending=True)
df_sorted

      year        state     month   number        date
0     1998         Acre   Janeiro    0.000  1998-01-01
6415  1998    Tocantins  Novembro    1.000  1998-01-01
2790  1998  Mato Grosso  Setembro  457.000  1998-01-01
2810  1998  Mato Grosso   Outubro  576.000  1998-01-01
2830  1998  Mato Grosso  Novembro  306.000  1998-01-01
...    ...          ...       ...      ...         ...
4601  2017          Rio     Março    3.000  2017-01-01
2490  2017  Mato Grosso      Maio  845.000  2017-01-01
2510  2017  Mato Grosso     Junho    2.041  2017-01-01
4641  2017          Rio      Maio    2.000  2017-01-01
4880  2017          Rio      Maio   43.000  2017-01-01

[6454 rows x 5 columns]

In [16]:
import pandas as pd
df = pd.read_csv('amazon.csv', encoding='latin-1')
grouped_data = df.groupby(['year', 'month'])['number'].sum().reset_index()
sorted_data = grouped_data.sort_values(by=['year', 'month'], ascending=[True, True])
print(sorted_data)

     year      month    number
0    1998      Abril     0.000
1    1998     Agosto  3964.616
2    1998   Dezembro  2043.407
3    1998  Fevereiro     0.000
4    1998    Janeiro     0.000
..    ...        ...       ...
234  2017       Maio  2506.000
235  2017      Março  2017.000
236  2017   Novembro  6217.379
237  2017    Outubro  3600.159
238  2017   Setembro  2779.317

[239 rows x 3 columns]

In [34]:
import pandas as pd
df = pd.read_csv('amazon.csv', encoding='latin-1')
yearly_fires = df.groupby('year')['number'].sum().reset_index()
max_fires = yearly_fires['number'].max()
year_with_max_fires = yearly_fires[yearly_fires['number'] == max_fires]
print(year_with_max_fires)

   year     number
5  2003  42760.674

In [36]:
import pandas as pd
df = pd.read_csv('amazon.csv', encoding='latin-1')
state_avg_fires = df.groupby('state')['number'].mean().reset_index()
state_avg_fires_sorted = state_avg_fires.sort_values(by='number', ascending=False)
print(state_avg_fires_sorted)

               state      number
20         Sao Paulo  213.896226
10       Mato Grosso  201.351523
4              Bahia  187.222703
15              Piau  158.174674
8              Goias  157.721841
11      Minas Gerais  156.800243
22         Tocantins  141.037176
3           Amazonas  128.243218
5              Ceara  127.314071
12           Paraiba  109.698573
9           Maranhao  105.142808
13              Pará  102.561272
14        Pernambuco  102.502092
18           Roraima  102.029598
19    Santa Catarina  101.924067
2              Amapa   91.345506
17          Rondonia   84.876272
0               Acre   77.255356
16               Rio   62.985865
7     Espirito Santo   27.389121
1            Alagoas   19.350000
6   Distrito Federal   14.899582
21           Sergipe   13.543933

In [41]:
import pandas as pd
df = pd.read_csv('amazon.csv', encoding='latin-1')
december_fires = df[df['month'] == 'Dezembro']
december_fires
state_names_dec = december_fires['state'].unique()
print("State names where fires were reported in December:\n", state_names_dec)

State names where fires were reported in December:
 ['Acre' 'Alagoas' 'Amapa' 'Amazonas' 'Bahia' 'Ceara' 'Distrito Federal'
 'Espirito Santo' 'Goias' 'Maranhao' 'Mato Grosso' 'Minas Gerais' 'Pará'
 'Paraiba' 'Pernambuco' 'Piau' 'Rio' 'Rondonia' 'Roraima' 'Santa Catarina'
 'Sao Paulo' 'Sergipe' 'Tocantins']

In [45]:
import pandas as pd
df = pd.read_csv('amazon.csv', encoding='latin-1')
state_total_fires = df.groupby('state')['number'].sum().reset_index()
state_total_fires_sorted = state_total_fires.sort_values(by='number', ascending=False)
top_3_states = state_total_fires_sorted.head(3)
print("Top 3 states with the highest number of fires reported:")
print(top_3_states)

Top 3 states with the highest number of fires reported:
          state     number
10  Mato Grosso  96246.028
12      Paraiba  52435.918
20    Sao Paulo  51121.198

In [46]:
import pandas as pd
df = pd.read_csv('amazon.csv', encoding='latin-1')
filtered_data = df[(df['year'] >= 2010) & (df['year'] <= 2015)]
target_states = ['Bahia', 'Acre', 'Rio']
filtered_states = filtered_data[filtered_data['state'].isin(target_states)]
filtered_states_with_fires = filtered_states[filtered_states['number'] > 0]
print("Fires from Bahia, Acre, and Rio from 2010 to 2015 with number of fires greater than 0:")
print(filtered_states_with_fires)

Second response - Fires from Bahia, Acre, and Rio from 2010 to 2015 with number of fires greater than 0:
      year state      month  number        date
12    2010  Acre    Janeiro     1.0  2010-01-01
17    2015  Acre    Janeiro     1.0  2015-01-01
37    2015  Acre  Fevereiro     2.0  2015-01-01
54    2012  Acre      Março     1.0  2012-01-01
55    2013  Acre      Março     2.0  2013-01-01
...    ...   ...        ...     ...         ...
5014  2011   Rio   Dezembro    69.0  2011-01-01
5015  2012   Rio   Dezembro    38.0  2012-01-01
5016  2013   Rio   Dezembro    62.0  2013-01-01
5017  2014   Rio   Dezembro    31.0  2014-01-01
5018  2015   Rio   Dezembro    42.0  2015-01-01

[344 rows x 5 columns]

In [47]:
import pandas as pd
df = pd.read_csv('amazon.csv', encoding='latin-1')
year_state_fires = df.groupby(['year', 'state'])['number'].sum().reset_index()
state_with_highest_fires = year_state_fires.groupby('state')['number'].sum().idxmax()
filtered_data = year_state_fires[year_state_fires['state'] == state_with_highest_fires]
print("Year-wise fires for the state with the highest number of fires:")
print(filtered_data)

Year-wise fires for the state with the highest number of fires:
     year        state    number
10   1998  Mato Grosso  2401.389
33   1999  Mato Grosso  2979.399
56   2000  Mato Grosso  3897.266
79   2001  Mato Grosso  3088.075
102  2002  Mato Grosso  3665.503
125  2003  Mato Grosso  6939.854
148  2004  Mato Grosso  4811.176
171  2005  Mato Grosso  5386.715
194  2006  Mato Grosso  4286.385
217  2007  Mato Grosso  3515.704
240  2008  Mato Grosso  3399.903
263  2009  Mato Grosso  8188.717
286  2010  Mato Grosso  6252.445
309  2011  Mato Grosso  5388.206
332  2012  Mato Grosso  5341.250
355  2013  Mato Grosso  5238.111
378  2014  Mato Grosso  5890.597
401  2015  Mato Grosso  6261.087
424  2016  Mato Grosso  3652.919
447  2017  Mato Grosso  5661.327

In [49]:
import pandas as pd
df = pd.read_csv('amazon.csv', encoding='latin-1')
state_agg_stats = df.groupby('state')['number'].agg(['sum', 'count', 'mean', 'max', 'min']).reset_index()
state_agg_stats.columns = ['State', 'Total', 'Count', 'Average', 'Max', 'Min']
print("Aggregate Statistics of Number of Fires State-wise:")
print(state_agg_stats)

Aggregate Statistics of Number of Fires State-wise:
               State      Total  Count     Average    Max  Min
0               Acre  18464.030    239   77.255356  960.0  0.0
1            Alagoas   4644.000    240   19.350000  162.0  0.0
2              Amapa  21831.576    239   91.345506  969.0  0.0
3           Amazonas  30650.129    239  128.243218  998.0  0.0
4              Bahia  44746.226    239  187.222703  995.0  0.0
5              Ceara  30428.063    239  127.314071  995.0  0.0
6   Distrito Federal   3561.000    239   14.899582  196.0  0.0
7     Espirito Santo   6546.000    239   27.389121  307.0  0.0
8              Goias  37695.520    239  157.721841  943.0  0.0
9           Maranhao  25129.131    239  105.142808  972.0  0.0
10       Mato Grosso  96246.028    478  201.351523  979.0  0.0
11      Minas Gerais  37475.258    239  156.800243  959.0  0.0
12           Paraiba  52435.918    478  109.698573  987.0  0.0
13              Pará  24512.144    239  102.561272  982.0  0.0
14        Pernambuco  24498.000    239  102.502092  859.0  0.0
15              Piau  37803.747    239  158.174674  943.0  0.0
16               Rio  45160.865    717   62.985865  885.0  0.0
17          Rondonia  20285.429    239   84.876272  969.0  0.0
18           Roraima  24385.074    239  102.029598  820.0  0.0
19    Santa Catarina  24359.852    239  101.924067  765.0  0.0
20         Sao Paulo  51121.198    239  213.896226  981.0  0.0
21           Sergipe   3237.000    239   13.543933  198.0  0.0
22         Tocantins  33707.885    239  141.037176  989.0  0.0